<body>
    <div class="profile-container">
        <h3> <img src="assets\user.jpg"> User Profile</h3> 
<form class="profile-form">
    <div class="form-group"> 
        <div class="form-name">
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name">
    </div>
    </div>
    <div class="form-group"> 
    <div class="form-password">
        <label for="password">Password </label><br>
        <input type="text" id="password" name="password">
    </div>
    </div>
    <div class="form-group"> 
        <div class="form-date">
        <label for="dob">Date of Birth</label> <br>
        <input type="date" id="dob" name="dob">
    </div>
</div>
    <div class="form-group"> 
    <div class="gender-selection">
        <label for="male">Male</label>
        <input type="radio" id="male" name="gender" value="male">

        <label for="female">Female</label>
        <input type="radio" id="female" name="gender" value="female">
    </div>
    </div>
    <div class="form-group">
        <div class="form-mobile">
        <label for="mobile">Mobile Number</label><br>
        <input type="tel" id="mobile" name="mobile">
    </div>
</div>
    <div class="form-group">
        <div class="form-email">
        <label for="email">Email</label><br>
        <input type="text" id="emial" name="email">
    </div>
</div>
 <div class="form-group">
    <div class="form-pincode">
    <label for="pincode">Pincode</label><br>
    <input type="number" id="pincode" name="pincode">
    </div>
</div>
<div class="form-group">
    <div class="form-city">
    <label for="city">City</label><br>
    <input type="text" id="city" name="city">
    </div>
</div>
<div class="form-group">
    <div class="form-state">
    <label for="state">State</label><br>
    <input type="text" id="state" name="state">
    </div>
</div>
<div class="form-group">
    <div class="form-country">
    <label for="country">Country</label><br>
    <input type="text" id="country" name="country">
    </div>
</div>
<div><br><button type="submit">Register </button></div>
 </form>
 </div>
</body>

